*.pyc
*.egg-info/*
.*.swp
src*
.Python
build/*
dist/*
local.cfg
datadir/*.csv
service/tests/resources/.~lock.*
indexdir/operation/curr
indexdir/operation/prev
indexdir/operation/next
indexdir/reactor/curr
indexdir/reactor/prev
indexdir/reactor/next
uploaddir/*.csv

.idea/



