/**
 * Styles for the search interface
 */

.edges-bs3-or-term-selector-selections-process {
    max-height: none !important;
    overflow-y: visible !important;
}

.edges-bs3-or-term-selector-selections-status {
    max-height: none !important;
    overflow-y: visible !important;
}

.edges-bs3-or-term-selector-value {
    color: #1A9DD8;
}

.reactordb-reactor-records-record  {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px dashed #cccccc;
}

.reactordb-reactor-records-record:hover  {
    background-color: #eeeeee;
}

.reactordb-reactor-records-first-row {
    margin-bottom: 10px;
}

.reactordb-reactor-records-second-row {

}

.reactordb-reactor-records-type-container {
    width: 100%;
    text-align: right;
}

.reactordb-reactor-records-expanded-type {

}

.reactordb-reactor-records-type {
    font-style: italic;
}

.reactordb-reactor-records-grid {

}

.reactordb-reactor-records-name {
    font-weight: bold;
    font-size: 150%;
}

.reactordb-reactor-records-url {
    color: #1A9DD8;
}

.reactordb-reactor-records-location {
    font-weight: bold;
    font-size: 150%;
}

.reactordb-reactor-records-status {
    font-weight: bold;
}

.reactordb-reactor-records-capacity {
    font-weight: bold;
    font-size: 150%;
    width: 100%;
    text-align: right;
}

.reactordb-reactor-records-owners {

}

.reactordb-reactor-records-operator {

}


/**
 * Styles for the reactor page
 */

.reactordb-reactor-metadata-name {
    /*font-weight: bold;*/
    /*font-size: 150%;*/
}

.reactordb-reactor-metadata-location {
    /*font-weight: bold;*/
    /*font-size: 150%;*/
}

.reactordb-reactor-metadata-status {
    font-weight: bold;
    text-align: center;
}

.reactordb-reactor-links-links {

}

.reactordb-reactor-links-link_header {
    font-weight: bold;
    font-size: 120%;
}

.reactordb-reactor-metadata-img_container {
    text-align: center;
}

.reactordb-reactor-metadata-img {
    width: 100%;
}

.reactordb-reactor-metadata-table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #1e9dd8;
}

.reactordb-reactor-metadata-table tr {
    border-bottom: 1px solid #1e9dd8;
}

.reactordb-reactor-metadata-table td {
    padding: 5px;
}

.reactordb-reactor-metadata-table_head {
    background: #1e9dd8 none repeat scroll 0 0;
    color: #ffffff;
}

.reactordb-reactor-metadata-table_key {
    font-weight: bold;
}

.reactordb-reactor-page-map {
    text-align: center;
}

.reactordb-reactor-operation-title {
    /*font-weight: bold;*/
    /*font-size: 130%;*/
}

#edges-nvd3-multibar-svg-electricity_supplied {
    height: 300px;
}

#edges-nvd3-simple-line-chart-svg-energy_availability_annual {
    height: 300px;
}

#edges-nvd3-simple-line-chart-svg-total_electricity {
    height: 300px;
}

.edges-bs3-tabular-results-table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #1e9dd8;
}

.edges-bs3-tabular-results-table tr {
    border-bottom: 1px solid #1e9dd8;
}

.edges-bs3-tabular-results-table td {
    padding: 5px;
}

.edges-bs3-tabular-results-header {
    background: #1e9dd8 none repeat scroll 0 0;
    color: #ffffff;
}

.edges-bs3-tabular-results-cell-year {
    background: #1e9dd8 none repeat scroll 0 0;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.reactordb-reactor-metadata-status.alert-danger {
    color: #d6763b;
    background-color: #f2ddd0;
    border-color: #f2d1bd;
}

.reactordb-reactor-metadata-status.alert-warning {
    color: #9487b6;
    background-color: #e0ddeb;
    border-color: #d8d1ed;
}

.reactordb-reactor-metadata-status.alert-info {
    color: #00b7cb;
    background-color: #e1f5f7;
    border-color: #bce8f1;
}

.reactordb-reactor-metadata-status.alert-success {
    color: #006f7a;
    background-color: #d5f2ea;
    border-color: #b1f0df;
}
