.edges-bs3-or-term-selector-selections-process {
    max-height: none !important;
    overflow-y: visible !important;
}

.edges-bs3-or-term-selector-selections-status {
    max-height: none !important;
    overflow-y: visible !important;
}