#preview-status {
    border-bottom: 2px solid #cccccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#preview-status h1 {
    margin-top: 0px;
}

#live-status {
    border-bottom: 2px solid #cccccc;
    margin-bottom: 20px;
}

#live-status h1 {
    margin-top: 0px;
}

.alert-messages {
    margin-top: 0px !important;
}

