.rdbwidgets-editor-control-panel label {
    /* margin-right: 10px; */
}

.rdbwidgets-control-panel-combo strong {
    font-size: 1.2em;
    display: block;
}

.rdbwidgets-control-panel-combo .form-inline label {
    margin-right: 15px;
}

.rdbwidgets-editor-control-panel .form-control {
    margin-right: 15px;
    margin-bottom: 10px;
}

.rdbwidgets-control-panel-combo {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px dashed #cccccc;
    border-top: 1px dashed #cccccc;
}

.rdbwidgets-preview-container {
    border: 1px dashed #cccccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
}

.rdbwidgets-preview-snippet {
    margin-top: 50px;
}

