<!--------------------------------------------------------------------------------->
<!-- STANDARD JAVASCRIPT LIBRARIES  ----------------------------------------------->
<!--------------------------------------------------------------------------------->

{% if request.path.startswith("/preview") %}
    {% include 'includes/reactordb.onlydeps.framework.js.html' %}
    {% include 'includes/reactordb.onlydeps.implementation.no-gm.js.html' %}

{% elif request.path.startswith("/live") %}
    <script type="text/javascript" src="{{url_for('static', filename='js/reactordb.onlydeps.framework.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/reactordb.onlydeps.implementation.no-gm.js')}}"></script>

{% else %}
    <script type="text/javascript" src="{{url_for('static', filename='js/reactordb.onlydeps.framework.js')}}"></script>

{% endif %}

{% if map_key %}
{% include 'includes/reactordb.onlydeps.implementation.gm.js.html' %}
{% endif %}

<!--------------------------------------------------------------------------------->
<!-- APPLICATION JAVASCRIPT LIBRARIES  -------------------------------------------->
<!--------------------------------------------------------------------------------->

<!-- get the octopus js (must be done first) -->
<script type="text/javascript" src="{{url_for('static', filename='js/octopus.js')}}"></script>

<!-- get the application config -->
<script type="text/javascript" src="{{url_for('configjs.javascript_config')}}"></script>

