<!--------------------------------------------------------------------------------->
<!-- STANDARD JAVASCRIPT LIBRARIES  ----------------------------------------------->
<!--------------------------------------------------------------------------------->

{% include 'includes/reactordb.onlydeps.framework.js.html' %}
{% include 'includes/reactordb.onlydeps.implementation.no-gm.js.html' %}

{% if map_key %}
{% include 'includes/reactordb.onlydeps.implementation.gm.js.html' %}
{% endif %}

<!-- get jquery js -->
<!-- <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-1.11.1/jquery-1.11.1.min.js')}}"></script> -->


<!-- get bootstrap js -->
<!-- <script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap-3.3.1/js/bootstrap.min.js')}}"></script> -->


<!-- get tablesorter -->
<!-- <script type="text/javascript" src="{{url_for('static', filename='vendor/tablesorter-2.17.7/js/jquery.tablesorter.min.js')}}"></script> -->


<!-- google map integration -->
{#
{% if map_key %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{map_key}}"></script>
{% endif %}
#}

<!--------------------------------------------------------------------------------->
<!-- APPLICATION JAVASCRIPT LIBRARIES  -------------------------------------------->
<!--------------------------------------------------------------------------------->

<!-- get the octopus js (must be done first) -->
<script type="text/javascript" src="{{url_for('static', filename='js/octopus.js')}}"></script>

<!-- get the application config -->
<script type="text/javascript" src="{{url_for('configjs.javascript_config')}}"></script>

