<a href="{{ url_for('preview_dashboard') }}" {% if request.path == url_for('preview_dashboard') %}class="current"{% endif %}>Dashboard</a> |
<a href="{{ url_for('preview_search') }}" {% if request.path == url_for('preview_search') %}class="current"{% endif %}>Search</a> |
<a href="{{ url_for('preview_reactor') }}" {% if request.path.startswith(url_for('preview_reactor')) %}class="current"{% endif %}>Reactor</a> |
<a href="{{ url_for('preview_country') }}" {% if request.path.startswith(url_for('preview_country')) %}class="current"{% endif %}>Location</a>

<div id="preview-status">
    <div class="row">
        <div class="col-md-12">
            <h1>Preview Latest Data</h1>
            <form class="form-inline pull-right">
                <button id="publish" class="form-control btn btn-success" disabled>Publish this data to Live</button>
                <button id="rollback" class="form-control btn btn-danger" disabled>Rollback Live to previous version</button>
            </form>
            <div id="current-rollout-status">Checking rollout status ...</div>
        </div>
    </div>
</div>