{% if assets == "true" %}


<link rel="stylesheet" href="{{ base }}/static/css/reactordb.onlydeps.implementation.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ base }}/static/css/reactordb.nodeps.full.css">

{% endif %}

<div id="{{ id }}-inner"></div>

{% if assets == "true" %}

<script type="text/javascript" src="{{ base }}/static/js/widget.onlydeps.implementation.js"></script>
<script type="text/javascript" src="{{ base }}/static/js/widget.nodeps.full.js"></script>

{% endif %}

<script type="text/javascript">
var waitForReactorDB{{ id }} = setInterval(function () {
    if (typeof widget != "undefined") {
        var e = widget.init(RDB_WIDGET_CONFIG_{{ id }});
        var id = "{{ id }}";
        var idx = RDB_WIDGET_REGISTRY.pending.indexOf(id);
        RDB_WIDGET_REGISTRY.pending.splice(idx, 1);
        RDB_WIDGET_REGISTRY.widgets[id] = e;

        clearInterval(waitForReactorDB{{ id }});
    }
}, 30);
</script>