{% extends "base.html" %}

{% block content %}

{% include '_live-status.html' %}

<div style="border-bottom: 1px dashed #cccccc; padding-bottom: 10px">
    <form method="get">
        Enter the desired reference year: <input type="text" name="year"> <button type="submit">go</button>
    </form>
</div>

<div id="dashboard"></div>

{% endblock %}


{% block extra_js_bottom %}

<script type="text/javascript" src="{{url_for('static', filename='js/reactordb.nodeps.full.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/reactordbadmin.js')}}"></script>

<script type="text/javascript">
jQuery(document).ready(function($) {
    var urlParams = edges.getUrlParams();
    var theYear = edges.getParam(urlParams.year, (new Date()).getUTCFullYear() - 2);
    $("input[name=year]").val(theYear);

    reactordb.makeDashboard({
        reactor_index: "reactor",
        operation_index: "operation",
        year: 2016,
        reactorPageURLTemplate: "/live_reactor/{reactor_name}",
        countryPageURLTemplate: "/live_country/{country_name}",
        searchPageURL : "/live_search"
    });
});
</script>

{% endblock%}