{% extends "base.html" %}

{% block content %}

{% include '_live-status.html' %}

{% if not reactor_id %}
    Insert the country name in the URL bar above to see the country report
{% endif %}

<div id="country-report"></div>

{% endblock %}


{% block extra_js_bottom %}

<script type="text/javascript" src="{{url_for('static', filename='js/reactordb.nodeps.full.js')}}"></script>

<script type="text/javascript">
jQuery(document).ready(function($) {
    var country_regex = new RegExp("live_country\/(.+)");
    reactordb.makeCountryReport({
        reactor_index: "reactor",
        operation_index: "operation",
        year: 2016,
        reactorPageURLTemplate: "/live_reactor/{reactor_name}",
        country_regex: country_regex
    });
});
</script>

{% endblock%}