{% extends "base.html" %}

{% block content %}

{% include '_live-status.html' %}

<div id="reactor-search"></div>

{% endblock %}

{% block extra_js_bottom %}

<script type="text/javascript" src="{{url_for('static', filename='js/reactordb.nodeps.full.js')}}"></script>

<script type="text/javascript">
jQuery(document).ready(function($) {
    var current_domain = document.location.host;
    var current_scheme = window.location.protocol;
    var BASE_URL = current_scheme + "//" + current_domain;

    reactordb.makeSearch({
        reactor_base_url: BASE_URL + "/live_reactor/",
        genericPageURLTemplate: "/live_generic?source={query}"
    });
});
</script>

{% endblock%}