{% extends "base.html" %}

{% block content %}

<div id="reactor-page"></div>

{% endblock %}


{% block extra_js_bottom %}

<script type="text/javascript" src="{{url_for('static', filename='vendor/showdown-1.2.3/showdown.min.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/vendor/d3-v3/d3.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/vendor/nvd3-1.8.1/nv.d3.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/es.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/edges.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/bs3.edges.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/nvd3.edges.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/google.edges.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/reactordb.edges.js')}}"></script>

<script type="text/javascript">
jQuery(document).ready(function($) {
    reactordb.makeReactorPage();
});
</script>

{% endblock%}