{% extends "base.html" %}

{% block content %}

{% include '_live-status.html' %}

<div style="border-bottom: 1px dashed #cccccc; padding-bottom: 10px">
    <form method="get">
        Enter the desired reactor id: <input type="text" name="reactor">
        <button type="submit">go</button>
    </form>
</div>

<div id="reactor-page"></div>

{% endblock %}


{% block extra_js_bottom %}

<script type="text/javascript" src="{{url_for('static', filename='js/reactordb.nodeps.full.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/reactordbadmin.js')}}"></script>

{% if reactor_id %}
<script type="text/javascript">

jQuery(document).ready(function($) {

    var reactor_regex = new RegExp("live_reactor\/(.+)");
    var params = reactordbadmin.handleReactorPageParameters({regex: reactor_regex});

    reactordb.makeReactorPage({
        id_regex: reactor_regex
    });
});
</script>
{% endif %}

{% endblock%}