{% extends "base.html" %}

{% block content %}

{% include '_live-status.html' %}

<div id="reactor-search"></div>

{% endblock %}

{% block extra_js_bottom %}

<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/es.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/edges.jquery.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/edges.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/templates/bs3.Facetview.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/components/selectors.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/components/ranges.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/components/search.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/renderers/bs3.ORTermSelectorRenderer.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/renderers/bs3.NumericRangeEntryRenderer.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/renderers/bs3.FullSearchControllerRenderer.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/renderers/bs3.PagerRenderer.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/renderers/bs3.SelectedFiltersRenderer.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/renderers/bs3.SearchingNotificationRenderer.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/reactordb.edges.js')}}"></script>

<script type="text/javascript">
jQuery(document).ready(function($) {
    var current_domain = document.location.host;
    var current_scheme = window.location.protocol;
    var BASE_URL = current_scheme + "//" + current_domain;

    reactordb.makeSearch({
        reactor_base_url: BASE_URL + "/live_reactor/"
    });
});
</script>

{% endblock%}