{% extends "base.html" %}

{% block content %}

{% include '_preview-status.html' %}

<div style="border-bottom: 1px dashed #cccccc; padding-bottom: 10px">
    <form method="get">
        Enter the desired reactor id: <input type="text" name="reactor">
        <button type="submit">go</button>
    </form>
</div>

<div id="reactor-page"></div>

{% endblock %}


{% block extra_js_bottom %}

{% include 'includes/reactordb.nodeps.full.js.html' %}

<script type="text/javascript" src="{{url_for('static', filename='js/reactordbadmin.js')}}"></script>


<script type="text/javascript">
jQuery(document).ready(function($) {
    {% if reactor_id %}

    var current_domain = document.location.host;
    var current_scheme = window.location.protocol;
    var BASE_URL = current_scheme + "//" + current_domain;

    var reactor_regex = new RegExp("preview_reactor\/(.+)");
    var params = reactordbadmin.handleReactorPageParameters({regex: reactor_regex});

    reactordb.makeReactorPage({
        reactor_index: "preview_reactor",
        operation_index: "preview_operation",
        id_regex: reactor_regex,
        postInit: function() {
            reactordbadmin.base_url = BASE_URL;
            reactordbadmin.selector = "#reactor-record";
            reactordbadmin.requestStatus();
        }
    });

    {% else %}
    $("#current-rollout-status").html("Select a reactor to see the rollout status");
    {% endif %}
});
</script>


{% endblock%}