{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/widget.editor.css') }}">
{% endblock %}

{% block content %}

{% include '_preview-status.html' %}

<div id="widget-editor"></div>

{% endblock %}


{% block extra_js_bottom %}

{% include 'includes/reactordb.nodeps.full.js.html' %}

<script type="text/javascript" src="{{url_for('static', filename='js/reactordbadmin.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/widget.editor.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/widget.js')}}"></script>

<script type="text/javascript">
jQuery(document).ready(function($) {
    var current_domain = document.location.host;
    var current_scheme = window.location.protocol;
    var BASE_URL = current_scheme + "//" + current_domain;

    $("#current-rollout-status").html("Rollout status not available on this page");

    rdbwidgets.editor({
        selector: "#widget-editor",
        index: "preview_reactor",
        base : BASE_URL,
        include: "/embed.html",
        prefix: "preview_"
    });
});
</script>

{% endblock%}