{% extends "base.html" %}

{% block extra_head %}

<link rel="stylesheet" href="{{url_for('static', filename='vendor/edges/css/bs3.TabularResultsRenderer.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendor/edges/css/bs3.ImportantNumbersRenderer.css')}}">

{% endblock %}

{% block content %}

{% include '_preview-status.html' %}

<div style="border-bottom: 1px dashed #cccccc; padding-bottom: 10px">
    <form method="get">
        Enter the desired reference year: <input type="text" name="year">
    </form>
</div>


<div id="dashboard"></div>

{% endblock %}


{% block extra_js_bottom %}

<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/vendor/d3-3.5.17/d3.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/vendor/nvd3-1.8.1/nv.d3.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/vendor/PapaParse-4.1.2/papaparse.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/vendor/tablesorter-2.17.7/js/jquery.tablesorter.min.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/es.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/edges.jquery.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/edges.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/edges.csv.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/components/charts.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/components/search.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/components/numbers.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/renderers/nvd3.edges.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/renderers/bs3.TabularResultsRenderer.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/renderers/bs3.ImportantNumbersRenderer.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/renderers/bs3.StoryRenderer.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/reactordb.edges.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/reactordbadmin.js')}}"></script>



<script type="text/javascript">
jQuery(document).ready(function($) {
    var current_domain = document.location.host;
    var current_scheme = window.location.protocol;
    var BASE_URL = current_scheme + "//" + current_domain;

    var urlParams = edges.getUrlParams();
    var theYear = edges.getParam(urlParams.year, (new Date()).getUTCFullYear());
    $("input[name=year]").val(theYear);

    reactordb.makeDashboard({
        reactor_index: "preview_reactor",
        operation_index: "preview_operation",
        year: theYear,
        reactorPageURLTemplate: "/preview_reactor/{reactor_name}",
        countryPageURLTemplate: "/preview_country/{country_name}",
        searchPageURL : "/preview_search"
    });

    reactordbadmin.base_url = BASE_URL;
    reactordbadmin.selector = "#dashboard";
    reactordbadmin.requestStatus();

});
</script>

{% endblock%}