{% extends "base.html" %}

{% block extra_head %}

<!-- <link rel="stylesheet" href="{{url_for('static', filename='vendor/edges/css/bs3.TabularResultsRenderer.css')}}"> -->
<!-- <link rel="stylesheet" href="{{url_for('static', filename='vendor/edges/css/bs3.ImportantNumbersRenderer.css')}}"> -->

{% endblock %}

{% block content %}

{% include '_preview-status.html' %}

<div style="border-bottom: 1px dashed #cccccc; padding-bottom: 10px">
    <form method="get">
        Enter the desired country: <input type="text" name="country"> and year <input type="text" name="year">
        <button type="submit">go</button>
    </form>
</div>

<div id="country-report"></div>

{% endblock %}


{% block extra_js_bottom %}

{% include 'includes/reactordb.nodeps.full.js.html' %}

<script type="text/javascript" src="{{url_for('static', filename='js/reactordbadmin.js')}}"></script>

<script type="text/javascript">
jQuery(document).ready(function($) {
    {% if country_id %}
    var current_domain = document.location.host;
    var current_scheme = window.location.protocol;
    var BASE_URL = current_scheme + "//" + current_domain;

    var country_regex = new RegExp("preview_country\/(.+)");
    var params = reactordbadmin.handleCountryPageParameters({regex: country_regex});

    $("#country-report").on("edges:post-init", function() {
        reactordbadmin.base_url = BASE_URL;
        reactordbadmin.selector = "#country-report";
        reactordbadmin.requestStatus();
    });

    if (params.country_name) {
        reactordb.makeCountryReport({
            reactor_index: "preview_reactor",
            operation_index: "preview_operation",
            year: params.year,
            reactorPageURLTemplate: "/preview_reactor/{reactor_name}",
            country_regex: country_regex
        });
    }
    {% else %}
    $("#current-rollout-status").html("Select a country and year to see the rollout status");
    {% endif %}
});
</script>

{% endblock%}