{% extends "base.html" %}

{% block content %}

<div id="reactor-preview"></div>

{% endblock %}


{% block extra_js_bottom %}

<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/vendor/d3-v3/d3.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/vendor/nvd3-1.8.1/nv.d3.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/es.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/edges.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/bs3.edges.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/nvd3.edges.js')}}"></script>

<script type="text/javascript">
jQuery(document).ready(function($) {

    var BASE_URL = current_scheme + "//" + current_domain;

    var reactordb = {
        newReactorRecords : function(params) {
            if (!params) { params = {} }
            reactordb.ReactorRecords.prototype = edges.newRenderer(params);
            return new reactordb.ReactorRecords(params);
        },
        ReactorRecords : function(params) {
            //////////////////////////////////////////////
            // parameters that can be passed in

            // what to display when there are no results
            this.noResultsText = params.noResultsText || "No reactors match your search criteria";

            //////////////////////////////////////////////
            // parameters that are core parts of the object

            // map of shorted to expanded types
            this.typeMap = {
                "BWR" : "Boiling Water Reactor",
                "GCR" : "Gas-Cooled Reactor",
                "HTGR" : "High Temperature Gas-Cooled Reactor",
                "HWGCR" : "Heavy Water Gas-Cooled Reactor",
                "FBR" : "Fast Reactor",
                "HWLWR" : "Heavy Water Light Water Reactor",
                "LWGR" : "Light Water Graphite Reactor",
                "PHWR" : "Pressurized Heavy Water Reactor",
                "PWR" : "Pressurised Water Reactor",
                "SGHWR" : "Steam Generating Heavy Water Reactor",
                "X" : "Other"
            };

            this.months = [
                "January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"
            ];

            this.namespace = "reactordb-reactor-records";

            this.draw = function() {
                var frag = this.noResultsText;
                if (this.component.results === false) {
                    frag = "";
                }

                var results = this.component.results;
                if (results && results.length > 0) {
                    // list the css classes we'll require
                    var recordClasses = edges.css_classes(this.namespace, "record", this);

                    // now call the result renderer on each result to build the records
                    frag = "";
                    for (var i = 0; i < results.length; i++) {
                        var rec = this._renderResult(results[i]);
                        frag += '<div class="row"><div class="col-md-12"><div class="' + recordClasses + '">' + rec + '</div></div></div>';
                    }
                }

                // finally stick it all together into the container
                var containerClasses = edges.css_classes(this.namespace, "container", this);
                var container = '<div class="' + containerClasses + '">' + frag + '</div>';
                this.component.context.html(container);
            };

            this._renderResult = function(res) {
                // extract from the object the fields that we want to display
                var id = this._getValue("id", res);
                var reactor_name = this._getValue("reactor.name", res);
                var country = this._getValue("reactor.country", res);
                var capacity_net = this._getValue("reactor.reference_unit_power_capacity_net", res);
                var status = this._getValue("reactor.status", res);
                var type = this._getValue("reactor.process", res);
                var owners = this._getValue("reactor.owner", res);
                var operator = this._getValue("reactor.operator", res);
                var grid = this._getValue("reactor.first_grid_connection", res);

                // set some defaults/normalise the values we are going to display
                if (capacity_net === false) {
                    capacity_net = "-";
                }
                var expandedType = type in this.typeMap ? this.typeMap[type] : "";
                var oarr = [];
                for (var i = 0; i < owners.length; i++) {
                    var o = owners[i];
                    oarr.push(o.name);
                }
                var owner = oarr.join(", ");
                var gridconn = "";
                if (grid !== false) {
                    var griddate = new Date(grid);
                    gridconn = griddate.getDate() + "&nbsp;" + this.months[griddate.getMonth()] + "&nbsp;" + griddate.getFullYear();
                }
                var url = BASE_URL + "/reactor/" + id;

                // now prep all the relevant values for html rendering
                reactor_name = edges.escapeHtml(reactor_name);
                country = edges.escapeHtml(country);
                capacity_net = edges.escapeHtml(capacity_net);
                status = edges.escapeHtml(status);
                type = edges.escapeHtml(type);
                expandedType = edges.escapeHtml(expandedType);
                owner = edges.escapeHtml(owner);
                operator = edges.escapeHtml(operator);

                // list the css classes we'll require
                var expandedTypeClasses = edges.css_classes(this.namespace, "expanded-type", this);
                var typeClasses = edges.css_classes(this.namespace, "type", this);
                var typeContainerClasses = edges.css_classes(this.namespace, "type-container", this);
                var gridClasses = edges.css_classes(this.namespace, "grid", this);
                var nameClasses = edges.css_classes(this.namespace, "name", this);
                var urlClasses = edges.css_classes(this.namespace, "url", this);
                var locationClasses = edges.css_classes(this.namespace, "location", this);
                var statusClasses = edges.css_classes(this.namespace, "status", this);
                var capacityClasses = edges.css_classes(this.namespace, "capacity", this);
                var ownersClasses = edges.css_classes(this.namespace, "owners", this);
                var operatorClasses = edges.css_classes(this.namespace, "operator", this);
                var firstRowClasses = edges.css_classes(this.namespace, "first-row", this);
                var secondRowClasses = edges.css_classes(this.namespace, "second-row", this);

                // build the sub-frags which only appear if there are values to go in them
                var typefrag = "";
                if (expandedType === "") {
                    typefrag = '<div class="' + typeContainerClasses + '"><span class="' + expandedTypeClasses + '">' + type + '</span></div>';
                } else {
                    typefrag = '<div class="' + typeContainerClasses + '"><span class="' + expandedTypeClasses + '">' + expandedType + '</span> <span class="' + typeClasses + '">(or ' + type + ')</span></div>';
                }

                var gridfrag = "";
                if (gridconn !== "") {
                    gridfrag = '<strong>Grid Connection:</strong>&nbsp;<span class="' + gridClasses + '">' + gridconn + '</span>';
                }

                // build the template for the record:
                var frag = '<div class="row ' + firstRowClasses + '">\
                                <div class="col-md-7">\
                                    <span class="' + nameClasses + '"><a href="URL" class="' + urlClasses + '">NAME</a></span>,&nbsp;\
                                    <span class="' + locationClasses + '">COUNTRY</span><br>\
                                    <span class="' + statusClasses + '">STATUS</span>\
                                </div>\
                                <div class="col-md-5">\
                                    <div class="' + capacityClasses + '">CAPACITY&nbsp;MWe</div>\
                                    TYPE_FRAG \
                                </div>\
                            </div>\
                            <div class="row ' + secondRowClasses + '"><div class="col-md-12">\
                                <strong>Owner:</strong>&nbsp;<span class="' + ownersClasses + '">OWNERS</span>&nbsp;\
                                <strong>Operator:</strong>&nbsp;<span class="' + operatorClasses + '">OPERATOR</span><br>\
                                GRID_FRAG \
                            </div></div>';

                // substitute in all the values
                frag = frag.replace(/URL/g, url)
                    .replace(/NAME/g, reactor_name)
                    .replace(/COUNTRY/g, country)
                    .replace(/STATUS/g, status)
                    .replace(/CAPACITY/g, capacity_net)
                    .replace(/TYPE_FRAG/g, typefrag)
                    .replace(/OWNERS/g, owner)
                    .replace(/OPERATOR/g, operator)
                    .replace(/GRID_FRAG/g, gridfrag);

                return frag;
            };

            this._getValue = function(path, rec) {
                var bits = path.split(".");
                var val = rec;
                for (var i = 0; i < bits.length; i++) {
                    var field = bits[i];
                    if (field in val) {
                        val = val[field];
                    } else {
                        return false;
                    }
                }
                return val;
            };
        }
    };

    e = edges.newEdge({
        selector: "#reactor-preview",
        template: edges.bs3.newFacetview(),
        search_url: current_scheme + "//" + current_domain + octopus.config.reactor_endpoint + "/_search",
        manageUrl : false,
        openingQuery : es.newQuery({
            sort : {field: "index.sort_name.exact", order: "asc"},
            size: 25
        }),
        components : [
            // First configure our facets (category: facet)
            edges.newORTermSelector({
                id: "country",
                field : "reactor.country.exact",
                display: "Location",
                size: 200,
                lifecycle: "update",
                category: "facet",
                renderer : edges.bs3.newORTermSelectorRenderer({
                    showCount: true,
                    hideEmpty: true
                })
            }),
            edges.newORTermSelector({
                id: "status",
                field : "reactor.status.exact",
                display: "Current Status",
                size: 200,
                lifecycle: "update",
                category: "facet",
                renderer : edges.bs3.newORTermSelectorRenderer({
                    showCount: true
                })
            }),
            edges.newORTermSelector({
                id: "process",
                field : "reactor.process.exact",
                display: "Reactor Type",
                size: 200,
                lifecycle: "static",
                category: "facet",
                renderer : edges.bs3.newORTermSelectorRenderer({
                    showCount: true
                })
            }),
            edges.newNumericRangeEntry({
                id: "construction_start",
                field: "index.construction_start_year",
                display: "Construction Start Date",
                category: "facet"
            }),
            edges.newNumericRangeEntry({
                id: "grid_connection",
                field: "index.first_grid_connection_year",
                display: "Grid Connection",
                category: "facet"
            }),
            edges.newNumericRangeEntry({
                id: "permanent_shutdown",
                field: "index.permanent_shutdown_year",
                display: "Permanent Shutdown Date",
                category: "facet"
            }),
            edges.newORTermSelector({
                id: "owner",
                field : "reactor.owner.name.exact",
                display: "Owner",
                size: 200,
                lifecycle: "update",
                category: "facet",
                renderer : edges.bs3.newORTermSelectorRenderer({
                    showCount: true
                })
            }),
            edges.newORTermSelector({
                id: "operator",
                field : "reactor.operator.exact",
                display: "Operator",
                size: 200,
                lifecycle: "update",
                category: "facet",
                renderer : edges.bs3.newORTermSelectorRenderer({
                    showCount: true
                })
            }),
            edges.newNumericRangeEntry({
                id: "capacity_net",
                field: "reactor.reference_unit_power_capacity_net",
                display: "Reference Unit Power<br>(Net Capacity)",
                lower: 0,
                increment: 300,
                category: "facet"
            }),

            // configure the search controller
            edges.newFullSearchController({
                id: "search-controller",
                category: "controller",
                sortOptions : [
                    {field: "index.sort_name.exact", display: "Reactor Name"},
                    {field: "reactor.country.exact", display: "Location"},
                    {field: "index.first_grid_connection_year", display: "Start Year"}
                ],
                fieldOptions : [
                    {field: "reactor.name", display: "Reactor Name"},
                    {field: "reactor.process", display: "Reactor Type"},
                    {field: "reactor.owner.name", display: "Owner"},
                    {field: "reactor.vendor", display: "Vendor"},
                    {field: "reactor.operator", display: "Operator"},
                    {field: "reactor.model", display: "Model"}
                ],
                defaultOperator : "AND"
            }),

            // the pager, with the explicitly set page size options (see the openingQuery for the initial size)
            edges.newPager({
                id: "top-pager",
                category: "top-pager",
                rederer : edges.bs3.newPagerRenderer({
                    sizeOptions : [10, 25, 50, 100]
                })
            }),
            edges.newPager({
                id: "bottom-pager",
                category: "bottom-pager",
                rederer : edges.bs3.newPagerRenderer({
                    sizeOptions : [10, 25, 50, 100]
                })
            }),

            // results display holding pattern - to be replaced with the real thing
            edges.newResultsDisplay({
                id: "results",
                category: "results",
                renderer : reactordb.newReactorRecords()
            }),

            // selected filters display, with all the fields given their display names
            edges.newSelectedFilters({
                id: "selected-filters",
                category: "selected-filters",
                fieldDisplays : {
                    "reactor.country.exact" : "Location",
                    "reactor.status.exact" : "Current Status",
                    "reactor.process.exact" : "Reactor Type",
                    "index.construction_start_year" : "Construction Start Date",
                    "index.first_grid_connection_year" : "Grid Connection",
                    "index.permanent_shutdown_year" : "Permanent Shutdown Date",
                    "reactor.owner.name.exact" : "Owner",
                    "reactor.operator.exact" : "Operator",
                    "reactor.reference_unit_power_capacity_net" : "Reference Unit Power (Net Capacity)"
                }
            }),

            // the standard searching notification
            edges.newSearchingNotification({
                id: "searching-notification",
                category: "searching-notification"
            })
        ]
    });

});
</script>

{% endblock%}