{% extends "base.html" %}

{% block extra_head %}

<!-- <link rel="stylesheet" href="{{url_for('static', filename='vendor/edges/css/bs3.TabularResultsRenderer.css')}}"> -->
<!-- <link rel="stylesheet" href="{{url_for('static', filename='vendor/edges/css/bs3.ImportantNumbersRenderer.css')}}"> -->

{% endblock %}

{% block content %}

{% include '_preview-status.html' %}

<div style="border-bottom: 1px dashed #cccccc; padding-bottom: 10px">
    <form method="get">
        Enter the desired reference year: <input type="text" name="year">
    </form>
</div>


<div id="dashboard"></div>

{% endblock %}


{% block extra_js_bottom %}

{% include 'includes/reactordb.nodeps.full.js.html' %}

<script type="text/javascript" src="{{url_for('static', filename='js/reactordbadmin.js')}}"></script>

<script type="text/javascript">
jQuery(document).ready(function($) {
    var current_domain = document.location.host;
    var current_scheme = window.location.protocol;
    var BASE_URL = current_scheme + "//" + current_domain;

    var urlParams = edges.getUrlParams();
    var theYear = edges.getParam(urlParams.year, (new Date()).getUTCFullYear());
    $("input[name=year]").val(theYear);

    $("#dashboard").on("edges:post-init", function() {
        reactordbadmin.base_url = BASE_URL;
        reactordbadmin.selector = "#dashboard";
        reactordbadmin.requestStatus();
    });

    reactordb.makeDashboard({
        reactor_index: "preview_reactor",
        operation_index: "preview_operation",
        year: theYear,
        reactorPageURLTemplate: "/preview_reactor/{reactor_name}",
        countryPageURLTemplate: "/preview_country/{country_name}",
        searchPageURL : "/preview_search"
    });

});
</script>

{% endblock%}