{% extends "base.html" %}

{% block content %}

<div id="reactor-record"></div>
<div id="reactor-operation"></div>

{% endblock %}


{% block extra_js_bottom %}

<script type="text/javascript" src="{{url_for('static', filename='vendor/showdown-1.2.3/showdown.min.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/vendor/d3-v3/d3.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/vendor/nvd3-1.8.1/nv.d3.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/es.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/edges.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/bs3.edges.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/nvd3.edges.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/edges/google.edges.js')}}"></script>

<script type="text/javascript">
jQuery(document).ready(function($) {

    var BASE_URL = current_scheme + "//" + current_domain;
    var REACTOR = window.location.pathname.substring("/reactor/".length);

    var reactordb = {
        newReactorPageTemplate : function(params) {
            if (!params) { params = {} }
            reactordb.ReactorPageTemplate.prototype = edges.newTemplate(params);
            return new reactordb.ReactorPageTemplate(params);
        },
        ReactorPageTemplate : function(params) {

            this.namespace = "reactordb-reactor-page";

            this.draw = function(edge) {
                this.edge = edge;

                // the classes we're going to need
                var containerClass = edges.css_classes(this.namespace, "container");
                var searchingClass = edges.css_classes(this.namespace, "searching");
                var metadataClass = edges.css_classes(this.namespace, "metadata");
                var mapClass = edges.css_classes(this.namespace, "map");

                // start building the page template
                var frag = '<div class="' + containerClass + '"><div class="row">';
                frag += '<div class="col-md-12">';

                // loading notification (note that the notification implementation is responsible for its own visibility)
                var loading = edge.category("searching-notification");
                if (loading.length > 0) {
                    frag += '<div class="row"><div class="col-md-12"><div class="' + searchingClass + '"><div id="' + loading[0].id + '"></div></div></div></div>'
                }

                // insert the frame within which the metadata will go
                var metadata = edge.category("metadata");
                if (metadata.length > 0) {
                    frag += '<div class="row"><div class="col-md-12"><div class="' + metadataClass + '" dir="auto"><div id="' + metadata[0].id + '"></div></div></div></div>';
                }

                // insert the frame within which the map will go
                var maps = edge.category("map");
                if (maps.length > 0) {
                    frag += '<div class="row"><div class="col-md-12"><div class="' + mapClass + '"><div id="' + maps[0].id + '"></div></div></div></div>';
                }

                // close off all the big containers and return
                frag += '</div></div></div>';

                edge.context.html(frag);
            };
        },

        newReactorOperationTemplate : function(params) {
            if (!params) { params = {} }
            reactordb.ReactorOperationTemplate.prototype = edges.newTemplate(params);
            return new reactordb.ReactorOperationTemplate(params);
        },
        ReactorOperationTemplate : function(params) {

            this.namespace = "reactordb-reactor-operation";

            this.draw = function(edge) {
                this.edge = edge;

                // the classes we're going to need
                var containerClass = edges.css_classes(this.namespace, "container");
                var searchingClass = edges.css_classes(this.namespace, "searching");
                var chartClasses = edges.css_classes(this.namespace, "chart");

                // start building the page template
                var frag = '<div class="' + containerClass + '"><div class="row">';
                frag += '<div class="col-md-12">';

                // loading notification (note that the notification implementation is responsible for its own visibility)
                var loading = edge.category("searching-notification");
                if (loading.length > 0) {
                    frag += '<div class="row"><div class="col-md-12"><div class="' + searchingClass + '"><div id="' + loading[0].id + '"></div></div></div></div>'
                }

                // create a container for each chart
                var charts = edge.category("chart");
                for (var i = 0; i < charts.length; i++) {
                    var chart = charts[i];
                    frag += '<div class="row"><div class="col-md-12"><div class="' + chartClasses + '" dir="auto"><div id="' + chart.id + '"></div></div></div></div>';
                }

                // close off all the big containers and return
                frag += '</div></div></div>';

                edge.context.html(frag);
            };
        },

        newReactorMetadata : function(params) {
            if (!params) { params = {} }
            reactordb.ReactorMetadata.prototype = edges.newComponent(params);
            return new reactordb.ReactorMetadata(params);
        },
        ReactorMetadata : function(params) {
            this.reactor = false;

            this.synchronise = function() {
                this.reactor = false;
                if (this.edge.result) {
                    var results = this.edge.result.results();
                    if (results.length == 0) {
                        return
                    }
                    this.reactor = results[0];
                }
            }
        },

        newReactorMetadataRenderer : function(params) {
            if (!params) { params = {} }
            reactordb.ReactorMetadataRenderer.prototype = edges.newRenderer(params);
            return new reactordb.ReactorMetadataRenderer(params);
        },
        ReactorMetadataRenderer : function(params) {
            // map of shorted to expanded types
            this.typeMap = {
                "BWR" : "Boiling Water Reactor",
                "GCR" : "Gas-Cooled Reactor",
                "HTGR" : "High Temperature Gas-Cooled Reactor",
                "HWGCR" : "Heavy Water Gas-Cooled Reactor",
                "FBR" : "Fast Reactor",
                "HWLWR" : "Heavy Water Light Water Reactor",
                "LWGR" : "Light Water Graphite Reactor",
                "PHWR" : "Pressurized Heavy Water Reactor",
                "PWR" : "Pressurised Water Reactor",
                "SGHWR" : "Steam Generating Heavy Water Reactor",
                "X" : "Other"
            };

            // map of statuses to bootstrap alert statuses
            this.statusMap = {
                "Operational" : "success",
                "Under Construction" : "info",
                "Long-term Shutdown" : "warning",
                "Permanent Shutdown" : "danger"
            };

            this.months = [
                "January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"
            ];

            this.namespace = "reactordb-reactor-metadata";

            this.draw = function() {
                if (!this.component.reactor) {
                    var frag = "No information found for this reactor.";
                    this.component.context.html(frag);
                    return
                }

                // get the values that we're going to want to render
                var reactor_name = this._getValue("reactor.name", this.component.reactor);
                var reactor_url = this._getValue("reactor.url", this.component.reactor);
                var country = this._getValue("reactor.country", this.component.reactor);
                var status = this._getValue("reactor.status", this.component.reactor);
                var image = this._getValue("reactor.image", this.component.reactor);

                var info = this._getValue("reactor.additional_info", this.component.reactor, "");
                var links = this._getValue("reactor.links", this.component.reactor);

                var site = this._getValue("reactor.site_name", this.component.reactor);
                var type = this._getValue("reactor.type", this.component.reactor);
                var process = this._getValue("reactor.process", this.component.reactor);
                var vendor = this._getValue("reactor.vendor", this.component.reactor);
                var owners = this._getValue("reactor.owner", this.component.reactor);
                var model = this._getValue("reactor.model", this.component.reactor);
                var operator = this._getValue("reactor.operator", this.component.reactor);

                var proj_start = this._getValue("reactor.project_start", this.component.reactor);
                var con_start = this._getValue("reactor.construction_start", this.component.reactor);
                var con_suspend = this._getValue("reactor.construction_suspend", this.component.reactor);
                var con_restart = this._getValue("reactor.construction_restart", this.component.reactor);
                var criticality = this._getValue("reactor.first_criticality", this.component.reactor);
                var grid = this._getValue("reactor.first_grid_connection", this.component.reactor);
                var commercial = this._getValue("reactor.commercial_operation", this.component.reactor);
                var longterm = this._getValue("reactor.longterm_shutdown", this.component.reactor);
                var restart = this._getValue("reactor.restart", this.component.reactor);
                var permanent = this._getValue("reactor.permanent_shutdown", this.component.reactor);

                var capacity_net = this._getValue("reactor.reference_unit_power_capacity_net", this.component.reactor, "-");
                var thermal_capacity = this._getValue("reactor.thermal_capacity", this.component.reactor, "-");
                var design_capacity = this._getValue("reactor.design_net_capacity", this.component.reactor, "-");
                var gross_capacity = this._getValue("reactor.gross_capacity", this.component.reactor, "-");


                // set some defaults/normalise the values we are going to display
                var expandedProcess = process in this.typeMap ? this.typeMap[process] : "";

                var oarr = [];
                for (var i = 0; i < owners.length; i++) {
                    var o = owners[i];
                    oarr.push(o.name);
                }
                var owner = oarr.join(", ");

                proj_start = this._formatDate(proj_start);
                con_start = this._formatDate(con_start);
                con_suspend = this._formatDate(con_suspend);
                con_restart = this._formatDate(con_restart);
                criticality = this._formatDate(criticality);
                grid = this._formatDate(grid);
                commercial = this._formatDate(commercial);
                longterm = this._formatDate(longterm);
                restart = this._formatDate(restart);
                permanent = this._formatDate(permanent);

                // make a markdown converter
                var converter = new showdown.Converter(),

                // now prep all the relevant values for html rendering
                reactor_name = edges.escapeHtml(reactor_name);
                var escaped_url = edges.escapeHtml(reactor_url);
                info = converter.makeHtml(info);
                country = edges.escapeHtml(country);
                status = edges.escapeHtml(status);
                site = edges.escapeHtml(site);
                type = edges.escapeHtml(type);
                process = edges.escapeHtml(process);
                expandedProcess = edges.escapeHtml(expandedProcess);
                vendor = edges.escapeHtml(vendor);
                owner = edges.escapeHtml(owner);
                model = edges.escapeHtml(model);
                operator = edges.escapeHtml(operator);
                capacity_net = edges.escapeHtml(capacity_net);
                thermal_capacity = edges.escapeHtml(thermal_capacity);
                design_capacity = edges.escapeHtml(design_capacity);
                gross_capacity = edges.escapeHtml(gross_capacity);

                // assemble the CSS classes we'll require
                var nameClasses = edges.css_classes(this.namespace, "name", this);
                var locationClasses = edges.css_classes(this.namespace, "location", this);
                var urlClasses = edges.css_classes(this.namespace, "url", this);
                var infoClasses = edges.css_classes(this.namespace, "info", this);
                var statusClasses = edges.css_classes(this.namespace, "status", this);
                var linksClasses = edges.css_classes(this.namespace, "links", this);
                var linkHeaderClasses = edges.css_classes(this.namespace, "link_header", this);
                var linkClasses = edges.css_classes(this.namespace, "link", this);
                var imgClasses = edges.css_classes(this.namespace, "img", this);
                var tableClasses = edges.css_classes(this.namespace, "table", this);
                var tableHeadClasses = edges.css_classes(this.namespace, "table_head", this);
                var tableKeyClasses = edges.css_classes(this.namespace, "table_key", this);
                var tableValClasses = edges.css_classes(this.namespace, "table_val", this);

                // prep the highlight information about the reactor
                var url = "";
                if (reactor_url) {
                    url = '<a href="' + reactor_url + '" class="' + urlClasses + '">' + escaped_url + '</a><br>';
                }
                var highlight = '<span class="' + nameClasses + '">_NAME_</span>,&nbsp;\
                                    <span class="' + locationClasses + '">_COUNTRY_</span><br>\
                                    _URL_\
                                    <p class="' + infoClasses + '">_ADDITIONALINFO_</p>';
                highlight = highlight.replace(/_NAME_/g, reactor_name)
                        .replace(/_COUNTRY_/g, country)
                        .replace(/_URL_/g, url)
                        .replace(/_ADDITIONALINFO_/g, info);

                // prep the status box
                var alertType = status in this.statusMap ? this.statusMap[status] : "success";
                var status_box = '<div class="alert alert-' + alertType + ' ' + statusClasses + '">' + status + '</div>';

                // prep the wna and wnn links
                var wnalinks = '<div class="' + linksClasses + '"><span class="' + linkHeaderClasses + '">Important Pages</span><br>_LINKS_</div>';
                var wnnlinks = '<div class="' + linksClasses + '"><span class="' + linkHeaderClasses + '">News</span><br>_LINKS_</div>';
                var wnasub = "";
                var wnnsub = "";
                for (var i = 0; i < links.length; i++) {
                    var link = links[i];
                    if (link.type === "wnn") {
                        wnnsub += '<a href="' + link.url + '" class="' + linkClasses + '">' + link.text + '</a><br>';
                    } else if (link.type === "wna") {
                        wnasub += '<a href="' + link.url + '" class="' + linkClasses + '">' + link.text + '</a><br>';
                    }
                }
                if (wnasub === "") {
                    wnasub = "No current links";
                }
                if (wnnsub === "") {
                    wnnsub = "No current links";
                }
                wnalinks = wnalinks.replace(/_LINKS_/g, wnasub);
                wnnlinks = wnnlinks.replace(/_LINKS_/g, wnnsub);

                // sort the image out
                var img = "No image available for this reactor";
                if (image) {
                    var img = '<img src="' + image + '" class="' + imgClasses + '">';
                }

                // table of details
                var details = '<table class="' + tableClasses + '"><thead><tr><td colspan="2" class="' + tableHeadClasses + '">Details</td></tr></thead><tbody>_ROWS_</tbody></table>';
                var detailsRows = "";
                if (site) {
                    detailsRows += '<tr><td class="' + tableKeyClasses + '">Site Name</td><td class="' + tableValClasses + '">' + site + '</td></tr>';
                }
                if (type) {
                    detailsRows += '<tr><td class="' + tableKeyClasses + '">Reactor Type</td><td class="' + tableValClasses + '">' + type + '</td></tr>';
                }
                if (process) {
                    if (expandedProcess === "") {
                        detailsRows += '<tr><td class="' + tableKeyClasses + '">Process</td><td class="' + tableValClasses + '">' + process + '</td></tr>';
                    } else {
                        detailsRows += '<tr><td class="' + tableKeyClasses + '">Reactor Type</td><td class="' + tableValClasses + '">' + expandedProcess + ' (' + process + ')</td></tr>';
                    }
                }
                if (vendor) {
                    detailsRows += '<tr><td class="' + tableKeyClasses + '">Vendor</td><td class="' + tableValClasses + '">' + vendor + '</td></tr>';
                }
                if (owner) {
                    detailsRows += '<tr><td class="' + tableKeyClasses + '">Owner</td><td class="' + tableValClasses + '">' + owner + '</td></tr>';
                }
                if (model) {
                    detailsRows += '<tr><td class="' + tableKeyClasses + '">Model</td><td class="' + tableValClasses + '">' + model + '</td></tr>';
                }
                if (operator) {
                    detailsRows += '<tr><td class="' + tableKeyClasses + '">Operator</td><td class="' + tableValClasses + '">' + operator + '</td></tr>';
                }
                details = details.replace(/_ROWS_/g, detailsRows);

                // table of timeline
                var timeline = '<table class="' + tableClasses + '"><thead><tr><td colspan="2" class="' + tableHeadClasses + '">Timeline</td></tr></thead><tbody>_ROWS_</tbody></table>';
                var timelineRows = "";
                if (proj_start) {
                    timelineRows += '<tr><td class="' + tableKeyClasses + '">Project Start</td><td class="' + tableValClasses + '">' + proj_start + '</td></tr>';
                }
                if (con_start) {
                    timelineRows += '<tr><td class="' + tableKeyClasses + '">Construction Start</td><td class="' + tableValClasses + '">' + con_start + '</td></tr>';
                }
                if (con_suspend) {
                    timelineRows += '<tr><td class="' + tableKeyClasses + '">Construction Suspend</td><td class="' + tableValClasses + '">' + con_suspend + '</td></tr>';
                }
                if (con_restart) {
                    timelineRows += '<tr><td class="' + tableKeyClasses + '">Construction Restart</td><td class="' + tableValClasses + '">' + con_restart + '</td></tr>';
                }
                if (criticality) {
                    timelineRows += '<tr><td class="' + tableKeyClasses + '">First Criticality</td><td class="' + tableValClasses + '">' + criticality + '</td></tr>';
                }
                if (grid) {
                    timelineRows += '<tr><td class="' + tableKeyClasses + '">First Grid Connection</td><td class="' + tableValClasses + '">' + grid + '</td></tr>';
                }
                if (commercial) {
                    timelineRows += '<tr><td class="' + tableKeyClasses + '">Commercial Operation</td><td class="' + tableValClasses + '">' + commercial + '</td></tr>';
                }
                if (longterm) {
                    timelineRows += '<tr><td class="' + tableKeyClasses + '">Long-term Shutdown</td><td class="' + tableValClasses + '">' + longterm + '</td></tr>';
                }
                if (restart) {
                    timelineRows += '<tr><td class="' + tableKeyClasses + '">Restart</td><td class="' + tableValClasses + '">' + restart + '</td></tr>';
                }
                if (permanent) {
                    timelineRows += '<tr><td class="' + tableKeyClasses + '">Permanent Shutdown</td><td class="' + tableValClasses + '">' + permanent + '</td></tr>';
                }
                timeline = timeline.replace(/_ROWS_/g, timelineRows);

                // table of numbers
                var numbers = '<table class="' + tableClasses + '"><thead><tr><td colspan="2" class="' + tableHeadClasses + '">Performance</td></tr></thead><tbody>_ROWS_</tbody></table>';
                var numbersRows = "";
                if (capacity_net) {
                    numbersRows += '<tr><td class="' + tableKeyClasses + '">Capacity Net</td><td class="' + tableValClasses + '">' + capacity_net + ' MWe</td></tr>';
                }
                if (gross_capacity) {
                    numbersRows += '<tr><td class="' + tableKeyClasses + '">Capacity Gross</td><td class="' + tableValClasses + '">' + gross_capacity + ' MWe</td></tr>';
                }
                if (thermal_capacity) {
                    numbersRows += '<tr><td class="' + tableKeyClasses + '">Capacity Thermal</td><td class="' + tableValClasses + '">' + thermal_capacity + ' MWt</td></tr>';
                }
                if (design_capacity) {
                    numbersRows += '<tr><td class="' + tableKeyClasses + '">Design Capacity</td><td class="' + tableValClasses + '">' + design_capacity + ' MWe</td></tr>';
                }
                numbers = numbers.replace(/_ROWS_/g, numbersRows);

                // finally assemble the full fragment
                var frag = '<div class="row">\
                                <div class="col-md-9">_HIGHLIGHT_</div>\
                                <div class="col-md-3">_STATUS_</div>\
                            </div>\
                            <div class="row">\
                                <div class="col-md-6">_WNALINKS_</div>\
                                <div class="col-md-6">_WNNLINKS_</div>\
                            </div>\
                            <div class="row">\
                                <div class="col-md-12">_IMAGE_</div>\
                            </div>\
                            <div class="row">\
                                <div class="col-md-4">_DETAILS_</div>\
                                <div class="col-md-4">_DATES_</div>\
                                <div class="col-md-4">_NUMBERS_</div>\
                            </div>';

                frag = frag.replace(/_HIGHLIGHT_/g, highlight)
                            .replace(/_STATUS_/g, status_box)
                            .replace(/_WNALINKS_/g, wnalinks)
                            .replace(/_WNNLINKS_/g, wnnlinks)
                            .replace(/_IMAGE_/g, img)
                            .replace(/_DETAILS_/g, details)
                            .replace(/_DATES_/g, timeline)
                            .replace(/_NUMBERS_/g, numbers);

                this.component.context.html(frag);
            };

            this._getValue = function(path, rec, def) {
                if (def === undefined) {
                    def = false;
                }
                var bits = path.split(".");
                var val = rec;
                for (var i = 0; i < bits.length; i++) {
                    var field = bits[i];
                    if (field in val) {
                        val = val[field];
                    } else {
                        return def;
                    }
                }
                return val;
            };

            this._formatDate = function(source) {
                var out = "";
                if (source !== false) {
                    var d = new Date(source);
                    out = d.getDate() + "&nbsp;" + this.months[d.getMonth()] + "&nbsp;" + d.getFullYear();
                }
                return out;
            }
        }
    };

    e1 = edges.newEdge({
        selector: "#reactor-record",
        template: reactordb.newReactorPageTemplate(),
        search_url: current_scheme + "//" + current_domain + octopus.config.reactor_endpoint + "/_search",
        manageUrl : false,
        baseQuery : es.newQuery({
            must : [
                es.newTermFilter({field: "id.exact", value: REACTOR})
            ],
            size: 1
        }),
        components : [
            // the reactor metadata display component
            reactordb.newReactorMetadata({
                id: "reactor_metadata",
                category: "metadata",
                renderer: reactordb.newReactorMetadataRenderer({})
            }),
            edges.newMapView({
                id: "reactor_map",
                geoPoint: "reactor.location",
                category: "map",
                renderer : edges.google.newMapViewRenderer({
                    initialZoom : 15
                })
            }),
            // the standard searching notification
            edges.newSearchingNotification({
                id: "reactor-searching",
                category: "searching-notification",
                renderer : edges.bs3.newSearchingNotificationRenderer({
                    searchingMessage: "Loading reactor information ..."
                })
            })
        ]
    });

    e2 = edges.newEdge({
        selector: "#reactor-operation",
        template: reactordb.newReactorOperationTemplate(),
        search_url: current_scheme + "//" + current_domain + octopus.config.operation_endpoint + "/_search",
        manageUrl : false,
        baseQuery : es.newQuery({
            must : [
                es.newTermFilter({field: "reactor.exact", value: REACTOR})
            ],
            size: 100,
            sort : [
                es.newSort({field: "year", order: "asc"})
            ]
        }),
        components : [
            // electricity supplied bar chart
            edges.newMultibar({
                id: "electricity_supplied",
                category: "chart",
                dataFunction : edges.ChartDataFunctions.recordsXY({
                    key: "Electricity Supplied",
                    x: "year",
                    y: "electricity_supplied",
                    y_default: 0
                })
            }),
            // annual energy availability factor
            edges.newSimpleLineChart({
                id : "energy_availability_annual",
                category: "chart",
                dataFunction : edges.ChartDataFunctions.recordsXY({
                    key: "Energy Availability Factor",
                    x: "year",
                    y: "energy_availability_factor_annual",
                    y_default: 0
                }),
                renderer : edges.nvd3.newSimpleLineChartRenderer({
                    xTickFormat: ".0f"
                })
            }),
            // total electricity supplied
            edges.newSimpleLineChart({
                id : "total_electricity",
                category: "chart",
                dataFunction : edges.ChartDataFunctions.cumulativeXY({
                    key: "Total Electricity Supplied",
                    x: "year",
                    y: "electricity_supplied",
                    y_default: 0
                }),
                renderer : edges.nvd3.newSimpleLineChartRenderer({
                    xTickFormat: ".0f"
                })
            }),
            // a table of all the data
            edges.newResultsDisplay({
                id : "results_table",
                category: "chart",
                renderer : edges.bs3.newTabularResultsRenderer({
                    fieldDisplay : [
                        {field: "year", display: "Year"},
                        {field: "reference_unit_power", display: "Reference Unit Power (MW)"},
                        {field: "annual_time_online", display: "Annual Time Online (Hours)"},
                        {field: "electricity_supplied", display: "Electricity Supplied (MWe)"},
                        {field: "operation_factor", display: "Operation Factor (?)"},
                        {field: "energy_availability_factor_annual", display: "Energy Availability Annual (?)"},
                        {field: "energy_availability_factor_cumulative", display: "Energy Availability Cumulative (?)"},
                        {field: "load_factor_annual", display: "Load Factor Annual (?)"},
                        {field: "load_factor_cumulative", display: "Load Factor Cumulative (?)"}
                    ]
                })
            }),
            
            // the standard searching notification
            edges.newSearchingNotification({
                id: "history-searching",
                category: "searching-notification",
                renderer : edges.bs3.newSearchingNotificationRenderer({
                    searchingMessage: "Loading operation history ..."
                })
            })
        ]
    });

});
</script>

{% endblock%}