<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reactordb.onlydeps.framework.css') }}">
</head>

<body>


<div class="content"><div class="container">
    <p>start the page off by talking about this accumulator chart</p>

    <div class="row">
        <div class="col-xs-7">
            <div id="widget_5br75"></div>
            <script type="text/javascript">
            var RDB_WIDGET_CONFIG_widget_5br75 = {
              "id": "widget_5br75",
              "type": "chart_accumulator",
              "query": {"query": {"filtered": {"filter": {"bool": {"must": [{"terms": {"reactor.process.exact": ["BWR"]}}]}}, "query": {"match_all": {}}}}},
              "base": "",
                "prefix" : "preview_",
              "include": "/embed.html",
              "settings": {
                  "chart" : "line",
                "start": "1970",
                "end": "2018",
                "value": "electricity_supplied",
                "label": "Electricity Supplied",
                "height": "300",
                  "left" : "150",
                  "distance" : "30"
              }
            }
            </script>
            <script type="text/javascript" src="embed.js?id=widget_5br75"></script>
        </div>
    </div>

    <p>some more text, introducing this aggregate table</p>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-4">
            <div id="widget_fjas8"></div>
            <script type="text/javascript">
            var RDB_WIDGET_CONFIG_widget_fjas8 = {
              "id": "widget_fjas8",
              "type": "table_aggregate",
                "query": {"query": {"filtered": {"filter": {"bool": {"must": [{"terms": {"reactor.process.exact": ["BWR"]}}]}}, "query": {"match_all": {}}}}},
              "base": "",
                "prefix" : "preview_",
              "include": "/embed.html",
              "settings": {
                "aggregate_around": {
                  "field": "reactor.country",
                  "display": "Location",
                  "formatting": "country_link"
                },
                "order": "reactor.design_net_capacity",
                "limit": "10",
                "countryPageTemplate": "/preview_country/{country}",
                "reactorPageTemplate": "/preview_reactor/{reactor}",
                "aggregate_on": [
                  {
                    "field": "reactor.reference_unit_power_capacity_net",
                    "display": "Reference Unit Power (Capacity Net)",
                    "formatting": "number"
                  },
                  {
                    "field": "reactor.gross_capacity",
                    "display": "Gross Capacity",
                    "formatting": "number"
                  },
                  {
                    "field": "reactor.design_net_capacity",
                    "display": "Design Net Capacity",
                    "formatting": "number"
                  }
                ]
              }
            }
            </script>
            <script type="text/javascript" src="embed.js?id=widget_fjas8"></script>
        </div>
    </div>

            <p>and then this table of reactors</p>

    <div class="row">
        <div class="col-xs-12">
            <div style="max-width: 690px">
                <div id="widget_pwc7z"></div>
            </div>
            <script type="text/javascript">
            var RDB_WIDGET_CONFIG_widget_pwc7z = {
              "id": "widget_pwc7z",
              "type": "table_reactor",
              "query": {"query": {"filtered": {"filter": {"bool": {"must": [{"terms": {"reactor.process.exact": ["BWR"]}}]}}, "query": {"match_all": {}}}}},
              "prefix" : "preview_",
                "base": "",
              "include": "/embed.html",
              "settings": {
                "order": {
                  "field": "reactor.name",
                  "dir": "asc",
                  "sort_type": "exact"
                },
                "limit": "15",
                "countryPageTemplate": "/preview_country/{country}",
                "reactorPageTemplate": "/preview_reactor/{reactor}",
                "reactor": [
                  {
                    "field": "reactor.name",
                    "display": "Reactor Name",
                    "formatting": "reactor_link"
                  },
                  {
                    "field": "reactor.construction_start",
                    "display": "Construction Start",
                    "formatting": "year"
                  },
                  {
                    "field": "reactor.reference_unit_power_capacity_net",
                    "display": "Reference Unit Power (Capacity Net)",
                    "formatting": "number"
                  }
                ]
              }
            }
            </script>
            <script type="text/javascript" src="embed.js?id=widget_pwc7z"></script>
        </div>
    </div>

            <p>Then some more stuff here linking that table to these highlight numbers</p>

    <div class="row">
        <div class="col-xs-12">
            <div style="max-width: 855px">
                <div id="first_widget"></div>
            </div>
            <script type="text/javascript">
                var RDB_WIDGET_CONFIG_first_widget = {
                    id: "first_widget",
                    include: "/embed.html",
                    // base: "//reactordb.world-nuclear.org"
                    base : "",
                    "prefix" : "preview_",
                    type: "highlight",
                    query: {"query":{"filtered":{"filter":{"bool":{"must":[{"terms":{"reactor.process.exact":["BWR"]}}]}},"query":{"match_all":{}}}}}
                };
            </script>
            <script type="text/javascript" src="embed.js?id=first_widget"></script>
        </div>
    </div>

            <p>And finally describe how we move on to this histogram chart</p>

    <div class="row">
        <div class="col-xs-12">
            <div id="second_widget"></div>
            <script type="text/javascript">
                var RDB_WIDGET_CONFIG_second_widget = {
                    id: "second_widget",
                    include: "/embed.html",
                    // base: "//reactordb.world-nuclear.org"
                    base : "",
                    "prefix" : "preview_",
                    type: "chart_histogram",
                    query: {"query":{"filtered":{"filter":{"bool":{"must":[{"terms":{"reactor.process.exact":["BWR"]}}]}},"query":{"match_all":{}}}}},
                    settings: {chart: "bar", start: "1970", end: "2018", value: "annual_time_online", label: "Annual Time Online", height: "300"}
                };
            </script>
            <script type="text/javascript" src="embed.js?id=second_widget"></script>

            <p>some following text to conclude the page</p>

        </div>
    </div>

</div></div>




<!-- the base javascript includes happen at the end -->
<script type="text/javascript" src="/static/vendor/edges/vendor/jquery-1.11.1/jquery-1.11.1.js"></script>
<script type="text/javascript" src="/static/vendor/edges/vendor/bootstrap-3.3.1/js/bootstrap.min.js"></script>

</body>

</html>