<script type="text/javascript" src="/static/vendor/edges/vendor/d3-v3/d3.min.js"></script>
<script type="text/javascript" src="/static/vendor/edges/vendor/jquery-1.11.1/jquery-1.11.1.js"></script>
<script type="text/javascript" src="/static/vendor/edges/vendor/PapaParse-4.1.2/papaparse.min.js"></script>
<script type="text/javascript" src="/static/vendor/edges/vendor/nvd3-1.8.1/nv.d3.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{map_key}}"></script>
<script type="text/javascript" src="/static/vendor/edges/vendor/tablesorter-2.17.7/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="magnificent-octopus/octopus/static/vendor/showdown-1.2.3/showdown.min.js"></script>
