<script type="text/javascript" src="/static/vendor/edges/src/edges.jquery.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/es.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/edges.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/components/search.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.ImportantNumbersRenderer.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/components/charts.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.SelectedFiltersRenderer.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/components/numbers.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/nvd3.edges.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.TabularResultsRenderer.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/components/tables.js"></script>
<script type="text/javascript" src="/static/js/widget.js"></script>
